@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,900;1,700;1,900&display=swap');
* {
    padding: 0px;
    margin: 0px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.top-header * {
    height: 100%;
}

.top-header {
    display: block;
    height: 70px;
}

.top-header-title-left p {
    font-size: 20px;
    color: rgba(1, 1, 1, 0.6);
    margin: 0;
    display: flex;
    align-items: center;
    width: 570px;
    float: right;
}

.top-header-icons {
    margin: 0;
    padding: 0;
}

.top-header-icons li {
    padding-left: 20px;
    display: inline-block;
}

.top-header-icons li:first-child {
    padding-left: 0;
    display: inline-block;
}

.top-header-icons li a {
    text-decoration: none;
}

.top-header-icons li a .fab:hover {
    transition: .5s;
    color: #ff8d68;
}

.top-header-icons li a .fab {
    color: rgba(1, 1, 1, 0.6);
    font-size: 20px;
    align-items: center;
    display: flex;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.top-header .top-header-icons li a .fab:before {
    display: block;
}

.top-header .top-header-icons li a:hover .fab:before,
.top-header .top-header-icons li a:focus .fab:before {
    animation: iconsMove 0.5s forwards;
    position: relative;
}

@keyframes iconsMove {
    0% {
        top: 0px;
    }
    25% {
        top: -20px;
        opacity: 0;
        display: none;
    }
    50% {
        bottom: -20px;
        opacity: 0;
        display: none;
    }
    100% {
        bottom: 0px;
    }
}

.phone {
    color: rgba(116, 116, 116, 0.8);
    font-weight: 700;
    display: inline-block;
    border: 1px solid #f2f2f2;
    padding: 0 15px;
    text-decoration: none;
    font-size: 25px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone:hover {
    color: #ff8d68;
    transition: .5s;
}

.search-here {
    padding-left: 0 !important;
    position: absolute;
    height: 70px;
}

.search {
    display: flex;
    border: 1px solid #f2f2f2;
    width: 85%;
}

.top-header-icons li .search i {
    color: #ff8d68;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.input-search {
    border: 0;
    padding: 0px 10px;
    font-size: 25px;
    font-weight: 400;
    width: 100%;
}

.input-search:focus {
    outline: none;
}

.section-header {
    z-index: 9999;
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

.fix-header {
    position: fixed !important;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px rgb(204 204 204 / 35%);
    animation: headerMove 0.5s forwards;
}

@keyframes headerMove {
    to {
        top: 0;
    }
    from {
        top: -50px
    }
}

.fix-header .menu {
    padding: 0;
}

.fix-header .navbar-left .navbar-img2 {
    display: none;
}

.fix-header .navbar-left .navbar-img1 {
    display: block;
}

.menu {
    padding: 20px 0;
}

.menu .navbar {
    padding-top: 0;
    height: 65px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0;
    flex-wrap: unset;
}

.navbar-left .navbar-img2 {
    display: inline-block;
    width: 130px;
}

.navbar-left .navbar-img1 {
    display: none;
}

.navbar-dropdown {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
}

.navbar-dropdown a {
    text-decoration: none;
}

.navbar-dropdown h2 {
    color: white;
    font-size: 25px;
    padding: 10px 0px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    margin: 0;
}

.fix-header .navbar-dropdown h2 {
    color: #000;
}

.navbar-dropdown li {
    padding: 0 20px;
}

.navbar-dropdown h2::after {
    content: '';
    display: block;
    width: 0;
    height: 10px;
    margin-top: -12px;
    height: 7px;
    background: rgb(250, 180, 129);
    opacity: 0.7;
    transition: width .9s;
}

.navbar-dropdown h2:hover::after {
    opacity: 0.8;
    width: 100%;
    transition: width .9s;
}

.drop-menu {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    font-size: 20px;
    padding-left: 0;
    text-align: left;
    list-style: none;
    width: 25%;
    line-height: 50px;
    transform: translateX(-70px);
    z-index: -1;
    border-radius: 20px;
    padding: 10px 0;
    margin: 10px 0 0 -20px;
    transition: all 0.8s;
    box-shadow: 0px 0px 18px 0px rgb(222 222 222 / 75%);
}

.navbar-dropdown li:hover .drop-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateX(0%);
}

.drop-menu::before {
    content: "";
    position: absolute;
    transform: rotate(180deg);
    left: 40px;
    margin-top: -19px;
    border-top: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.drop-menu li {
    padding: 0 30px;
}

.drop-menu a {
    color: #000;
    transition: all 0.8s;
}

.drop-menu .active {
    color: #ff8d68;
    list-style: disc;
    margin-left: 10px;
}

.drop-menu .active::before {
    content: "";
    position: absolute;
    left: 16px;
    border: 0;
    width: 5px;
    height: 5px;
    background: #ff8d68;
    border-radius: 50%;
    opacity: 1;
}

.drop-menu li a:hover {
    color: #ff8d68;
    margin-left: 10px;
}

.drop-menu a::before {
    content: "";
    position: absolute;
    left: 16px;
    border: 0;
    width: 5px;
    height: 5px;
    background: #ff8d68;
    border-radius: 50%;
    margin-top: 23px;
    opacity: 0;
}

.drop-menu a:hover::before {
    opacity: 1;
}

.sub-menu i {
    float: right;
    color: #2e91fc;
    transform: translateY(15px);
}

.sub-menu:hover .sub-menu-pages {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    transform: scale(1, 1);
}

.sub-menu-pages {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    font-size: 20px;
    padding-left: 0;
    text-align: left;
    list-style: none;
    line-height: 50px;
    z-index: -1;
    border-radius: 20px;
    padding: 10px 0;
    margin: 10px 0 0 -20px;
    transition: all 0.8s;
    top: 30px;
    left: 260px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: 0 50%;
    box-shadow: 0px 0px 18px 0px rgb(222 222 222 / 75%);
}

.sub-menu-pages::before {
    content: "";
    position: absolute;
    transform: rotate(90deg);
    left: -15px;
    margin-top: 30px;
    border-top: 10px solid rgba(0, 0, 0, 0.1);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}


/*mobi*/

.icon-bars {
    color: #fff;
    font-size: 35px;
    display: none;
}

.menu {
    display: flex;
}

.navbar-mobi {
    display: none;
    width: 100%;
    justify-content: space-between;
}

.navbar-mobi-left {
    display: flex;
    align-items: center;
    margin: 13px 0;
}

.navbar-mobi-left .navbar-mobi-img2 {
    display: none;
}

.navbar-mobi-left .navbar-mobi-img1 {
    display: none;
}

.fix-header .navbar-mobi-left .navbar-mobi-img2 {
    display: none;
}

.fix-header .navbar-mobi-left .navbar-mobi-img1 {
    display: none;
}

.fix-header .icon-bars {
    color: #000;
}

.fix-header .navbar-mobi-right {
    margin-top: 60px;
}

.navbar-mobi-right {
    width: 100%;
    height: 384px;
    position: absolute;
    margin-top: 80px;
    left: 0;
    overflow: hidden;
    display: grid;
    visibility: hidden;
}

.mobi-input:checked~.navbar-mobi-right .dd-mobi {
    transform: translateY(0);
    transition: all 0.8s;
    visibility: visible
}

.dd-mobi {
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
    transform: translateY(-100%);
    transition: all 0.8s;
    visibility: hidden;
    z-index: 1;
    position: relative;
    display: inline-block;
    overflow: auto;
}

.list-mobi {
    padding: 0 20px;
}

.fix-header .list-mobi {
    background-color: #fff;
}

.dd-home-mobi {
    background-color: #2e91fc;
    position: relative;
    transition-duration: 0.2s;
}

.dd-home-mobi ul {
    margin: 0;
    padding: 0;
}

.dd-mobi ul {
    border-bottom: none;
}

.dd-home-mobi h2 {
    padding: 10px 20px;
    margin: 0;
    border: 1px dashed #fff;
    border-top: none;
}

.list-mobi .dd-home-mobi:nth-child(1) h2 {
    border-top: 1px dashed #fff;
}

.dd-home-mobi a {
    text-decoration: none;
    border: none;
}

.dd-mobi input {
    top: 0;
    opacity: 0;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.dd-home-mobi h2 {
    color: #fff;
}

.dd-home-mobi h2 i {
    float: right;
}

.dd-mobi input:checked:after {
    transform: scaleX(1);
}

.dd-mobi input:checked~.dd-home {
    transform: scaleY(1);
    position: relative;
}

.dd-home {
    display: block;
    position: absolute;
    height: auto;
    transform: scaleY(0);
    transform-origin: top left;
    transition-duration: 0.2s;
}

.dd-home ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-shadow: 0px 0px 18px 0px rgb(222 222 222 / 75%);
}

.dd-home li {
    word-break: keep-all;
    white-space: nowrap;
    display: block;
    position: relative;
    border: 1px dashed #fff;
    border-top: none;
}

.dd-home ul li a {
    display: block;
    position: relative;
    transition-duration: 0.2s;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 40px;
}

.section {
    top: 100px;
    width: 100%;
    padding: 345px 0 300px;
    overflow: hidden;
}

.section-img {
    background-image: url(./images/section-img.png);
    background-repeat: no-repeat;
    background-position-x: 2%;
    padding-bottom: 300px;
}

.banner-section {
    backface-visibility: hidden;
    position: absolute;
    display: block;
    left: auto;
    top: 150px;
    right: 0;
    overflow: hidden;
}

.section h2 {
    color: #fff;
    max-width: 870px;
    font: 800 60px/75px "Muli", sans-serif;
    margin: 0;
}

.section p {
    color: #fff;
    padding-bottom: 110px;
    font: 400 18px/35px "Muli", sans-serif;
    max-width: 550px;
    padding-top: 40px;
    margin: 0;
}

.section-img .btn-section {
    background: #ff8d68;
}

.btn-section {
    min-width: 220px;
    background: #2e91fc;
    color: #fff;
    text-align: center;
    font: 600 20px/60px "Muli", sans-serif;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    border-radius: 39px;
    z-index: 1;
    text-decoration: none;
    visibility: visible;
    animation-delay: 0.5s;
    animation-name: fadeInUp;
}

.btn-section:hover {
    outline: none;
    text-decoration: none;
    transition: all 300ms linear 0s;
    color: #fff;
}

.btn-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ff8d68;
    transform-origin: right center;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}

.section-img .btn-section:before {
    background: #2e91fc;
}

.btn-section:hover:before,
.btn-section:focus:before {
    transform-origin: left center;
    transform: scale(1, 1);
}

.section2 {
    display: block;
    position: relative;
    padding-top: 160px;
}

.section2::after {
    content: "";
    position: absolute;
    bottom: -50px;
    right: 0;
    background: url(./images/section2-after.png) no-repeat bottom right;
    height: 100%;
    width: 278px;
    z-index: -1;
}

.section2 h4 {
    font: 20px/1 "Muli", sans-serif;
    color: #2e91fc;
    margin: 0;
}

.section2 h2 {
    font-size: 50px;
    color: #242425;
    padding: 17px 0 75px;
    max-width: 950px;
    margin: 0;
}

.card-text {
    background-color: #fff;
    padding: 60px 30px;
    text-align: left;
    margin-bottom: 30px;
    box-shadow: 0px 0px 15px 0px rgb(204 204 204 / 35%);
}

.card-text .check1 {
    padding: 5px;
    width: 50px;
    height: 50px;
    color: white;
    background-color: #ff8d68;
    border-radius: 10px;
}

.card-text .check2 {
    padding: 5px;
    width: 50px;
    height: 50px;
    color: white;
    background-color: #2e91fc;
    border-radius: 10px;
}

.card-text .check3 {
    padding: 5px;
    width: 50px;
    height: 50px;
    color: white;
    background-color: #98f8bc;
    border-radius: 10px;
}

.card-text .check2:hover,
.card-text .check3:hover {
    background-color: #ff8d68;
    transition: .8s;
}

.card-text a {
    display: block;
    font: 400 26px "Muli", sans-serif;
    color: #242425;
    padding: 37px 0 30px;
    text-decoration: none;
}

.card-text a:hover {
    color: #ff8d68;
    transition: .5s;
}

.card-text p {
    color: rgba(0, 0, 0, 0.702);
    font: 16px/28px "Muli", sans-serif;
    margin: 0;
}

.section3 {
    padding-top: 140px;
    overflow: hidden;
}

.section3-left {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.section3 img {
    max-width: 100%;
}

.section3-right-content {
    max-width: 570px;
}

.section3-right-content h4 {
    font: 20px/1 "Muli", sans-serif;
    color: #2e91fc;
    margin: 0;
}

.section3-right-content h2 {
    font: 600 45px/50px "Muli", sans-serif;
    color: #242425;
    padding-top: 20px;
    margin: 0;
}

.section3-right-content p {
    font: 20px/28px "Muli", sans-serif;
    color: rgba(0, 0, 0, 0.702);
    padding: 60px 0 65px;
    margin: 0;
}

.section4-left {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: right;
    margin-top: -200px !important;
    z-index: 9;
    overflow: hidden;
}

.section4-left img {
    max-width: 100%;
    overflow: hidden;
}

.section4-right-content {
    max-width: 730px;
    float: right;
    padding-right: 30px;
}

.section4-right-content h2 {
    font: 600 45px/50px "Muli", sans-serif;
    color: #242425;
    margin: 0;
}

.section4-right-content p {
    font: 20px/28px "Muli", sans-serif;
    color: rgba(0, 0, 0, 0.702);
    padding-top: 40px;
    padding-bottom: 50px;
    margin: 0;
}

.media {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
}

.media-img {
    background-color: #ff8d68;
    border-radius: 14px;
    padding: 0px 10px;
    text-align: center;
    line-height: 53px;
}

.mi2 {
    background-color: #64ddb8;
}

.mi3 {
    background-color: #2e91fc;
}

.media-body {
    padding-left: 25px;
    padding-top: 14px;
}

.media-body a {
    display: block;
    font: 600 26px/1 "Muli", sans-serif;
    color: #000;
    text-decoration: none;
}

.media-body a:hover {
    color: #ff8d68;
    transition: .5s;
}

.media-body p {
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 0;
    margin: 0;
}

.section5 {
    padding-top: 100px;
}

.section5-items {
    position: relative;
}

.section5-title {
    display: block;
    overflow: hidden;
    padding-bottom: 80px;
}

.section5-title h4 {
    font: 20px/1 "Muli", sans-serif;
    color: #2e91fc;
    margin: 0;
}

.section5-title h2 {
    font: 600 45px/50px "Muli", sans-serif;
    color: #242425;
    padding-top: 20px;
    margin: 0;
}

.section5-title h2 a {
    font-size: 20px;
    min-width: 210px;
    float: right;
}

.section5-items-img {
    display: block;
    overflow: hidden;
}

.section5-items-img img {
    max-width: 100%;
}

.share {
    background: rgba(70, 154, 252, 0.722);
    position: absolute;
    border: 14px solid rgba(150, 196, 250, 0.569);
    line-height: 100px;
    font-size: 55px;
    padding: 0px 20px;
    z-index: 1;
    color: #fff;
    top: 170px;
    right: -60px;
    border-radius: 50%;
    text-align: center;
    opacity: 0;
}

.section5-items-caption {
    display: block;
    text-align: center;
    text-decoration: none;
    font: 600 22px/1 "Muli", sans-serif;
    color: #484849;
    padding: 35px;
    box-shadow: 0px 0px 15px 0px rgb(204 204 204 / 35%);
}

.section5-items-caption small {
    display: block;
    color: rgba(72, 72, 73, 0.702);
    font-size: 16px;
    font-weight: 400;
    padding-top: 8px;
}

.section5-items:hover .section5-items-caption {
    background-color: #0d6efd;
    color: white;
    transition: .5s;
}

.section5-items:hover small {
    color: rgba(254, 254, 255, 0.702);
    transition: .5s;
}

.section5-items:hover .share {
    opacity: 1;
    color: #fff;
}

.section6 {
    padding-top: 170px;
    padding-bottom: 100px;
    overflow: hidden;
}

.section6-img {
    text-align: right;
    overflow: hidden;
}

.section6 img {
    max-width: 100%;
}

.section6-content {
    max-width: 570px;
    float: right;
    padding-top: 70px;
}

.section6-title {
    padding-bottom: 35px;
}

.section6-title h4 {
    font: 20px/1 "Muli", sans-serif;
    color: #2e91fc;
    margin: 0;
}

.section6-title h2 {
    font: 600 45px/50px "Muli", sans-serif;
    color: #242425;
    padding-top: 20px;
    margin: 0;
}

.carousel-item img {
    width: 100px;
    height: 100px;
}

.carousel-item p {
    border: 1.22px dashed #cce5ff;
    padding: 45px 35px;
    margin: 60px 0 45px;
    font: 20px/28px "Muli", sans-serif;
    color: rgba(0, 0, 0, 0.702);
    padding-right: 20px;
    width: 570px;
}

.carousel .slick-next {
    width: 70px;
    height: 40px;
    background-image: url(./images/right-blue.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1.22px dashed #cce5ff;
    text-align: center;
    top: 543px;
    left: 90px;
}

.carousel .slick-prev {
    width: 70px;
    height: 40px;
    background-image: url(./images/left-blue.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1.22px dashed #cce5ff;
    text-align: center;
    top: 543px;
    left: 0;
}

.carousel .slick-prev:hover,
.carousel .slick-prev:focus {
    background: #2e91fc;
    background-image: url(./images/left-white.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.carousel .slick-next:hover,
.carousel .slick-next:focus {
    background: #2e91fc;
    background-image: url(./images/right-white.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.slick-prev:before,
.slick-next:before {
    display: none;
}

.section7 {
    display: block;
    padding: 15px 0 100px;
}

.section7-title {
    text-align: center;
}

.section7-title h4 {
    font: 20px/1 "Muli", sans-serif;
    color: #2e91fc;
    margin: 0;
}

.section7-title h2 {
    font: 600 45px/50px "Muli", sans-serif;
    color: #242425;
    padding-top: 20px;
    margin: 0;
}

.team {
    padding-top: 100px;
    position: relative;
    visibility: hidden;
}

.wow {
    visibility: hidden;
}

.section7 .team:after {
    content: "";
    position: absolute;
    top: 40px;
    left: -115px;
    background: url(./images/section7-team-after.png) no-repeat;
    height: 326px;
    width: 250px;
    z-index: -1;
}

.team.active-fadeIn {
    visibility: visible;
    animation: fadeIn 1s ease;
}

.team1.active-fadeIn {
    visibility: visible;
    animation: fadeIn 0s ease;
}

.team2.active-fadeIn {
    visibility: visible;
    animation: fadeIn 2s ease;
}

.team3.active-fadeIn {
    visibility: visible;
    animation: fadeIn 4s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.team-img {
    display: block;
    overflow: hidden;
    position: relative;
}

.team-img:hover img {
    transform: scale(1.2);
}

.team-img img {
    width: 100%;
    transition: all 300ms linear 0s;
}

.section7 .team-item:hover .team-img:before,
.section7 .team-item:focus .team-img:before {
    left: 50%;
    opacity: 1;
    z-index: 1;
}

.section7 .team-item .team-img:before {
    content: "";
    width: 50%;
    height: 50%;
    background: rgba(46, 145, 252, 0.749);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.section7 .team-item:hover .team-img span:before,
.section7 .team-item:focus .team-img span:before {
    top: 50%;
    opacity: 1;
}

.section7 .team-item .team-img span:before {
    content: "";
    width: 50%;
    height: 50%;
    background: rgba(46, 145, 252, 0.749);
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.section7 .team-item:hover .team-img span:after,
.section7 .team-item:focus .team-img span:after {
    left: 0;
    opacity: 1;
}

.section7 .team-item .team-img span:after {
    content: "";
    width: 50%;
    height: 50%;
    background: rgba(46, 145, 252, 0.749);
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.section7 .team-item:hover .team-img:after,
.section7 .team-item:focus .team-img:after {
    top: 0;
    opacity: 1;
}

.section7 .team-item .team-img:after {
    content: "";
    width: 50%;
    height: 50%;
    background: rgba(46, 145, 252, 0.749);
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.icons-profile {
    list-style: none;
    position: absolute;
    right: -2px;
    bottom: -4px;
    transition: all 300ms linear 0s;
    z-index: 1;
    opacity: 0;
    padding: 0;
    margin: 0;
}

.icons-profile a {
    background-color: #fff;
    font-size: 25px;
    margin-top: 18px;
    line-height: 1;
    border-radius: 5px;
    display: block;
    padding: 5px;
    color: rgba(46, 145, 252, 0.749);
    transition: all 300ms linear 0s;
}

.icons-profile a:hover {
    background-color: #ff8d68;
    color: rgba(46, 145, 252, 0.749);
}

.team-item .team-img:hover .icons-profile {
    color: rgba(46, 145, 252, 0.749);
    opacity: 1;
}

.team-introduce {
    padding-top: 33px;
}

.team-introduce a {
    display: block;
    font: 600 30px/1 "Muli", sans-serif;
    color: #242425;
    text-decoration: none;
}

.team-introduce a:hover {
    color: #ff8d68;
    transition: .5s;
}

.team-introduce h6 {
    font: 400 20px/1 "Muli", sans-serif;
    color: #2e91fc;
    padding: 10px 0 25px;
    margin: 0;
}

.team-introduce p {
    line-height: 30px;
    font-size: 18px;
    margin: 0;
}

.section8 {
    background: url(./images/section8-img.png) no-repeat left top;
    padding: 100px 0 65px;
}

.section8-monitor {
    text-align: center;
    margin-bottom: 30px;
}

.icons {
    background: #c4e3f8;
    width: 84px;
    line-height: 84px;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}

.section8-monitor h4 {
    display: block;
    font-size: 25px;
    color: #454545;
    padding: 20px 0 35px;
    margin: 0;
}

.section8-monitor h2 {
    font: 700 50px/1 "Muli", sans-serif;
    color: #343434;
}

.section9 {
    margin-top: -38px;
    padding-top: 160px;
    text-align: center;
    background: url(./images/section9-img.png) no-repeat left top;
}

.section9 h2 {
    font: 500 48px/52px "Muli", sans-serif;
    color: #242425;
    max-width: 980px;
    margin: 0 auto;
}

.section9 p {
    font-size: 18px;
    line-height: 35px;
    max-width: 720px;
    margin: 0 auto;
    padding-top: 30px;
}

.section9-buy {
    padding: 135px 55px 0px 55px;
    visibility: hidden;
}

.section9-buy .active {
    background: #599ef3;
    box-shadow: -20px -20px 0px 0px #fff;
}

.section9-buy .active:before {
    background: url(./images/section9-before-hover.png) no-repeat;
}

.section9-buy .active h2,
.section9-buy .active h6 {
    color: #fff;
}

.section9-buy .active ul li {
    color: #fff;
}

.section9-buy-title {
    padding: 44px 35px;
    position: relative;
    z-index: 3;
    border-radius: 30px;
    box-shadow: 0px 0px 18px 0px rgb(222 222 222 / 75%);
    margin-bottom: 30px;
    background: #d7ebf9;
    transition: all 300ms linear 0s;
    width: 300px;
    float: right;
}

.section9-buy-title:hover {
    background: #599ef3;
}

.section9-buy-title:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 115px;
    background: url(./images/section9-before.png) no-repeat;
    width: 100%;
    height: 195px;
    z-index: -1;
    transition: all 300ms linear 0s;
}

.section9-buy-title:hover:before {
    background: url(./images/section9-before-hover.png) no-repeat;
}

.section9-buy-title h6 {
    font-size: 20px;
    color: #242425;
    padding-top: 10px;
    transition: all 300ms linear 0s;
    margin: 0;
}

.section9-buy-title:hover h2,
.section9-buy-title:hover h6 {
    color: #fff;
}

.section9-buy-title h2 {
    font-size: 40px;
    color: #ff8d68;
    padding-top: 25px;
    transition: all 300ms linear 0s;
}

.section9-buy-title ul {
    list-style: none;
    padding: 50px 0 70px;
    margin: 0;
}

.section9-buy-title ul li {
    color: rgba(0, 0, 0, 0.702);
    font-size: 18px;
    transition: all 300ms linear 0s;
    line-height: 36px;
}

.section9-buy-title:hover ul li {
    color: #fff;
}

.btn-section.active-fadeIn {
    visibility: visible;
    animation: fadeIn 0s ease;
}

.buy1.active-fadeIn {
    visibility: visible;
    animation: fadeIn 0s ease;
}

.buy2.active-fadeIn {
    visibility: visible;
    animation: fadeIn 2s ease;
}

.buy3.active-fadeIn {
    visibility: visible;
    animation: fadeIn 4s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.section10 {
    padding-top: 155px;
    overflow: hidden;
}

.section10-title {
    max-width: 490px;
    float: right;
}

.section10-title h4 {
    font: 20px/1 "Muli", sans-serif;
    color: #2e91fc;
    margin: 0;
}

.section10-title h2 {
    font: 600 45px/50px "Muli", sans-serif;
    color: #242425;
    padding-top: 20px;
    margin: 0;
}

.slider-card {
    width: 102%;
}

.slider-card .card {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    width: 381px;
    border: none;
    margin-bottom: 30px;
    transition: all 300ms linear 0s;
}

.slider-card .card:hover .card-contant {
    border-bottom: 3px solid #cae6f6;
}

.card-img {
    overflow: hidden;
}

.card-img:hover img {
    transform: scale(1.2);
}

.card-img img {
    width: 100%;
    transition: all 300ms linear 0s;
}

.card-contant {
    padding: 35px 25px;
    box-shadow: 0px 0px 18px 0px rgb(222 222 222 / 75%);
    border-bottom: 3px solid #fff;
}

.card-contant a:nth-child(1) {
    font: 500 20px/30px "Muli", sans-serif;
    color: #242425;
    display: block;
    padding-bottom: 25px;
    margin-top: -5px;
    text-decoration: none;
    transition: all 300ms linear 0s;
}

.card-introduce {
    display: flex;
    text-decoration: none;
}

.card-introduce img {
    border-radius: 50px;
    margin-right: 20px;
}

.card-introduce span {
    display: flex;
    align-items: center;
    font: 500 16px/1 "Muli", sans-serif;
    color: #242425;
    position: relative;
    transition: all 300ms linear 0s;
}

.card a:hover,
.card-introduce span:hover {
    color: #ff8d68;
}

.card-contant span::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    left: 1px;
    background-color: #cae6f6;
    bottom: 18px;
    opacity: 0.6;
}

.slider-card .slick-next {
    width: 70px;
    height: 40px;
    background-image: url(./images/right-blue.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1.22px dashed #cce5ff;
    top: 270px;
    left: -410px;
}

.slider-card .slick-prev {
    width: 70px;
    height: 40px;
    background-image: url(./images/left-blue.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1.22px dashed #cce5ff;
    z-index: 1;
    top: 270px;
    left: -510px;
}

.slider-card .slick-prev:hover,
.slider-card .slick-prev:focus {
    background: #2e91fc;
    background-image: url(./images/left-white.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.slider-card .slick-next:hover,
.slider-card .slick-next:focus {
    background: #2e91fc;
    background-image: url(./images/right-white.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.slick-prev:before,
.slick-next:before {
    display: none;
}

.footer {
    display: block;
    overflow: hidden;
    background: url(./images/footer-img.png) no-repeat right bottom;
    background-size: contain;
    padding: 155px 0 110px;
}

.email {
    padding: 90px 35px 100px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 3px 34px 0px rgb(230 230 230 / 75%);
}

.email h2 {
    font: 500 38px/45px "Muli", sans-serif;
    color: #101010;
    text-align: center;
    display: block;
    overflow: hidden;
    padding-bottom: 80px;
    margin: 0;
}

.email .input-email .form-email {
    width: 100%;
    border-radius: 30px;
    box-shadow: none;
    outline: none;
    padding: 0 35px;
    font: 400 16px/58px "Muli", sans-serif;
    color: rgba(0, 0, 0, 0.702);
    height: auto;
    border: 1px solid #e8e7e7;
    margin-bottom: 20px;
}

.email .input-email .form-email:focus {
    border: 1px solid #2e91fc;
}

.email .input-email .btn-email {
    min-width: 100%;
}

.footer-bottom {
    padding-top: 145px;
}

.footer-img1 {
    display: none;
}

.footer-bottom .footer-logo p {
    font: 400 18px/36px "Muli", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    padding: 40px 0;
    margin: 0;
}

.footer-bottom .footer-logo p a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.footer-bottom .footer-logo p a:hover {
    transition: all 300ms linear 0s;
    color: #ff8d68;
}

.footer-icon {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-icon li {
    display: inline-block;
    padding-right: 17px;
    padding-bottom: 10px;
}

.footer-icon li a {
    width: 50px;
    line-height: 51px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    background: #c4e6ff;
}

.footer-icon li a:hover {
    transition: all 300ms linear 0s;
    background: #ff8d68;
}

.footer-bottom .footer-headline {
    padding: 0;
    padding-left: 30px;
}

.footer-headline ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-headline h4 {
    font: 500 16px/1 "Muli", sans-serif;
    color: #101010;
    padding-bottom: 35px;
    margin: 0;
    text-transform: uppercase;
}

.footer-headline .infomation li a {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.footer-headline .infomation li a:hover {
    transition: all 300ms linear 0s;
    color: #ff8d68;
}

.ft-1.active-fadeIn {
    visibility: visible;
    animation: fadeIn 1s ease;
}

.ft-2.active-fadeIn {
    visibility: visible;
    animation: fadeIn 2s ease;
}

.ft-3.active-fadeIn {
    visibility: visible;
    animation: fadeIn 4s ease;
}

.ft-4.active-fadeIn {
    visibility: visible;
    animation: fadeIn 6s ease;
}

.ft-5.active-fadeIn {
    visibility: visible;
    animation: fadeIn 8s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.scroll-top {
    position: fixed;
    right: 30px;
    bottom: 15px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background: #2e91fc;
    border: 0;
    box-shadow: none;
    z-index: 999;
    color: #fff;
    display: none;
}