@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,900;1,700;1,900&display=swap');
* {
    padding: 0px;
    margin: 0px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.section-header {
    z-index: 9999;
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

.fix-header {
    position: fixed !important;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px rgb(204 204 204 / 35%);
    animation: headerMove 0.5s forwards;
}

@keyframes headerMove {
    to {
        top: 0;
    }
    from {
        top: -50px
    }
}

.fix-header .menu {
    padding: 0;
}

.menu {
    padding: 20px 0;
}

.menu .navbar {
    padding-top: 0;
    height: 65px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0;
    flex-wrap: unset;
}

.navbar-dropdown {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
}

.navbar-dropdown a {
    text-decoration: none;
}

.navbar-dropdown h2 {
    color: #000;
    font-size: 20px;
    padding: 10px 0px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    margin: 0;
}

.navbar-dropdown li {
    padding: 0 20px;
}

.navbar-dropdown h2::after {
    content: '';
    display: block;
    width: 0;
    height: 10px;
    margin-top: -12px;
    height: 7px;
    background: rgb(250, 180, 129);
    opacity: 0.7;
    transition: width .9s;
}

.navbar-dropdown h2:hover::after {
    opacity: 0.8;
    width: 100%;
    transition: width .9s;
}

.drop-menu {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    font-size: 20px;
    padding-left: 0;
    text-align: left;
    list-style: none;
    width: 250px;
    line-height: 50px;
    transform: translateX(-70px);
    z-index: -1;
    border-radius: 20px;
    padding: 10px 0;
    margin: 10px 0 0 -20px;
    transition: all 0.8s;
    box-shadow: 0px 0px 18px 0px rgb(222 222 222 / 75%);
}

.navbar-dropdown li:hover .drop-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateX(0%);
}

.drop-menu::before {
    content: "";
    position: absolute;
    transform: rotate(180deg);
    left: 40px;
    margin-top: -19px;
    border-top: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.drop-menu li {
    padding: 0 30px;
}

.drop-menu a {
    color: #000;
    transition: all 0.8s;
}

.drop-menu .active {
    color: #ff8d68;
    list-style: disc;
    margin-left: 22px;
}

.drop-menu .active::before {
    content: "";
    position: absolute;
    left: 16px;
    border: 0;
    width: 5px;
    height: 5px;
    background: #ff8d68;
    border-radius: 50%;
    opacity: 1;
}

.drop-menu li a:hover {
    color: #ff8d68;
    margin-left: 22px;
}

.drop-menu a::before {
    content: "";
    position: absolute;
    left: 16px;
    border: 0;
    width: 5px;
    height: 5px;
    background: #ff8d68;
    border-radius: 50%;
    margin-top: 23px;
    opacity: 0;
}

.drop-menu a:hover::before {
    opacity: 1;
}

.sub-menu i {
    float: right;
    color: #2e91fc;
    transform: translateY(15px);
}

.sub-menu:hover .sub-menu-pages {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    transform: scale(1, 1);
}

.sub-menu-pages {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    font-size: 20px;
    padding-left: 0;
    text-align: left;
    list-style: none;
    line-height: 50px;
    z-index: -1;
    border-radius: 20px;
    padding: 10px 0;
    margin: 10px 0 0 -20px;
    transition: all 0.8s;
    top: 30px;
    left: 108%;
    width: 100%;
    transform: scaleX(0);
    transform-origin: 0 50%;
    box-shadow: 0px 0px 18px 0px rgb(222 222 222 / 75%);
}

.sub-menu-pages::before {
    content: "";
    position: absolute;
    transform: rotate(90deg);
    left: -15px;
    margin-top: 30px;
    border-top: 10px solid rgba(0, 0, 0, 0.1);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}


/*mobi*/

.icon-bars {
    color: #000;
    font-size: 35px;
    display: none;
}

.menu {
    display: flex;
}

.navbar-mobi {
    width: 100%;
    justify-content: space-between;
    display: none;
}

.navbar-mobi-left {
    display: flex;
    align-items: center;
    margin: 13px 0;
}

.fix-header .navbar-mobi-right {
    margin-top: 60px;
}

.navbar-mobi-right {
    width: 100%;
    height: 400px;
    position: absolute;
    margin-top: 80px;
    left: 0;
    overflow: hidden;
    display: grid;
    visibility: hidden;
}

.mobi-input:checked~.navbar-mobi-right .dd-mobi {
    transform: translateY(0);
    transition: all 0.8s;
    visibility: visible;
    height: 384px;
}

.dd-mobi {
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
    transform: translateY(-100%);
    transition: all 0.8s;
    visibility: hidden;
    z-index: 1;
    position: relative;
    display: inline-block;
    overflow: auto;
}

.list-mobi {
    padding: 0 20px;
    overflow: hidden;
}

.fix-header .dd-mobi {
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px rgb(181 181 181 / 85%);
}

.dd-home-mobi {
    background-color: #2e91fc;
    position: relative;
    transition-duration: 0.2s;
}

.dd-home-mobi ul {
    margin: 0;
    padding: 0;
}

.dd-mobi ul {
    border-bottom: none;
}

.dd-home-mobi h2 {
    padding: 10px 20px;
    margin: 0;
    border: 1px dashed #fff;
    border-top: none;
}

.list-mobi .dd-home-mobi:nth-child(1) h2 {
    border-top: 1px dashed #fff;
}

.dd-home-mobi a {
    text-decoration: none;
    border: none;
}

.dd-mobi input {
    top: 0;
    opacity: 0;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.dd-home-mobi h2 {
    color: #fff;
}

.dd-home-mobi h2 i {
    float: right;
}

.dd-mobi input:checked:after {
    transform: scaleX(1);
}

.dd-mobi input:checked~.dd-home {
    transform: scaleY(1);
    position: relative;
}

.dd-home {
    display: block;
    position: absolute;
    height: auto;
    transform: scaleY(0);
    transform-origin: top left;
    transition-duration: 0.2s;
}

.dd-home ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-shadow: 0px 0px 18px 0px rgb(222 222 222 / 75%);
}

.dd-home li {
    word-break: keep-all;
    white-space: nowrap;
    display: block;
    position: relative;
    border: 1px dashed #fff;
    border-top: none;
}

.dd-home ul li a {
    display: block;
    position: relative;
    transition-duration: 0.2s;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 40px;
}

.btn-section {
    min-width: 170px;
    background: #2e91fc;
    color: #fff;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    display: flex;
    padding: 4px 0;
    position: relative;
    overflow: hidden;
    border-radius: 39px;
    z-index: 1;
    text-decoration: none;
    visibility: visible;
    animation-delay: 0.5s;
    animation-name: fadeInUp;
}

.btn-section:hover {
    outline: none;
    text-decoration: none;
    transition: all 300ms linear 0s;
    color: #fff;
}

.btn-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ff8d68;
    transform-origin: right center;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}

.section-img .btn-section:before {
    background: #2e91fc;
}

.btn-section:hover:before,
.btn-section:focus:before {
    transform-origin: left center;
    transform: scale(1, 1);
}

.section1 {
    display: block;
    overflow: hidden;
    padding: 300px 0 200px;
    box-shadow: 0px 0px 30px 0px rgb(181 181 181 / 35%);
    z-index: 1;
    background: white url(./images/section1-img.png) no-repeat bottom right;
    position: relative;
}

.section1 h2 {
    font-size: 50px;
    margin: 0;
}

.section1 p {
    font-size: 25px;
    color: #464647;
    padding-top: 70px;
    max-width: 705px;
    margin: 0;
}

.section2 {
    padding-top: 150px;
}

.row .blog-left {
    padding-right: 43px;
}


/* blog-left */

.blog-left img {
    max-width: 100%;
}

.meta {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -50px;
}

.meta li {
    display: inline-block;
}

.meta .date {
    padding-right: 30px;
}

.meta .date span {
    font-size: 40px;
    font-weight: 600;
    line-height: 35px;
    font-family: sans-serif;
    color: #fff;
    width: 101px;
    display: block;
    background: #2e91fc;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 18px 33px 0px rgb(182 182 182 / 35%);
    padding: 15px 0;
}

.meta .date span small {
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    padding-top: 5px;
}

.meta li a {
    color: rgba(0, 0, 0, 0.702);
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.5s;
}

.meta li a:hover {
    color: #ff8d68;
}

.meta li .active {
    color: #ff8d68;
}

.blog-readmore1 h2 {
    font-size: 38px;
    font-weight: 600;
    font-family: sans-serif;
    line-height: 48px;
    color: #537097;
    display: block;
    padding-top: 50px;
    padding-bottom: 10px;
}

.blog-readmore1 p {
    color: rgba(0, 0, 0, 0.702);
    font-size: 18px;
    font-family: sans-serif;
    line-height: 35px;
    padding-top: 20px;
    margin: 0;
}

.blog-readmore1 .quote .i-top {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    left: 25px;
    color: #dde1ff;
}

.blog-readmore1 .quote {
    color: rgba(0, 0, 0, 0.8);
    font-size: 22px;
    font-family: sans-serif;
    line-height: 38px;
    padding-left: 30px;
    margin-left: 45px;
    position: relative;
    z-index: 1;
    max-width: 770px;
    padding-top: 40px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.blog-readmore1 .quote:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 3px;
    height: 130px;
    background: #ff8d68;
}

.blog-readmore1 .quote .i-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #dde1ff;
    font-size: 130px;
    z-index: -1;
}

.share {
    padding: 85px 0;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.share ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.share ul li {
    display: inline-block;
    padding-right: 7px;
    font-size: 16px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.702);
}

.share ul li:first-child {
    padding-right: 20px;
}

.share li a {
    background: #c6e5fa;
    width: 34px;
    line-height: 34px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.5s;
}

.share li a:hover {
    background: #ff8d68;
}

.share li .active {
    background: #ff8d68;
}

.like li a {
    width: auto;
    font-size: 16px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.702);
    text-decoration: none;
    background: none;
}

.like li a i {
    font-size: 16px;
    color: #dde1ff;
    padding-right: 10px;
}

.like li:last-child a i {
    color: #feb9a2;
}

.media {
    background-color: #c6e5fa;
    box-shadow: 0px 0px 20px 0px rgb(192 192 192 / 35%);
    padding: 40px;
    display: flex;
    align-items: flex-start;
}

.media img {
    border-radius: 50%;
    max-width: 100%;
}

.media .media-body {
    padding-left: 40px;
}

.media .media-body a {
    font-size: 22px;
    font-weight: 500;
    font-family: sans-serif;
    color: #537097;
    display: block;
    text-decoration: none;
}

.media .media-body p {
    color: rgba(63, 87, 120, 0.8);
    font-size: 18px;
    line-height: 35px;
}

.btn-post {
    display: block;
    overflow: hidden;
    padding: 90px 10px;
}

.btn-post .btn-section {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 16px 0px rgb(206 202 202 / 35%);
    color: #7e9cc5;
    text-transform: capitalize;
    line-height: 65px;
    display: inline-block;
    min-width: 201px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.btn-post .btn-section:hover,
.btn-post .btn-section:focus {
    background: #2e91fc;
    color: #fff;
}

.btn-post .active {
    background-color: #ff8d68;
    color: #fff;
}

.btn-post .btn-section i {
    padding-right: 15px;
    font-size: 16px;
}

.btn-post .np {
    float: right;
}

.btn-post .np i {
    padding-left: 15px;
    font-size: 16px;
}


/* blog-right */

.input-search {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-search .form-control {
    box-shadow: none;
    border: 0;
    border-right: 0;
    background: #d7ebf9;
    font-size: 18px;
    line-height: 55px;
    font-family: sans-serif;
    color: #7e9cc5;
    border-radius: 20px 0 0 20px;
    padding: 0 30px;
    height: auto;
}

.input-search input:focus {
    outline: 0;
    color: #7e9cc5;
    background: #d7ebf9;
    box-shadow: none;
}

.search-icon {
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    border: 0;
    background: #d7ebf9;
    border-left: 0;
    color: #fff;
    padding: 15px 20px;
}

.search-icon:hover {
    color: #ff8d68;
}

.menu-right {
    padding-top: 55px;
}

.menu-right h3 {
    font-size: 22px;
    font-weight: 600;
    font-family: sans-serif;
    color: #537097;
    margin: 0;
}

.menu-right ul {
    padding-top: 27px;
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.menu-right ul li a {
    text-decoration: none;
    font-size: 15px;
    line-height: 50px;
    font-family: sans-serif;
    color: #656565;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 33px;
    transition: all 0.5s;
}

.menu-right ul li a span {
    margin-left: 20px;
}

.menu-right ul li a:hover {
    color: #ff8d68;
}

.menu-right ul li a:hover i {
    left: 15px;
}

.menu-right ul li a i {
    font-size: 18px;
    color: #2e91fc;
    left: 0;
    position: absolute;
    transition: all 300ms linear 0s;
}

.menu-right .post li {
    margin-bottom: 30px;
}

.menu-right .post li a {
    padding: 0;
    color: #537097;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    text-transform: none;
    line-height: 30px;
}

.menu-right .post li span {
    font-size: 15px;
    font-family: sans-serif;
    color: rgba(98, 97, 97, 0.702);
    text-transform: uppercase;
    padding-top: 14px;
    display: block;
}

.menu-right .tags li {
    display: inline-block;
    padding-bottom: 10px;
}

.menu-right .tags li a {
    font-size: 16px;
    line-height: 45px;
    font-family: sans-serif;
    padding: 0 20px;
    color: #7e9cc5;
    background: #d7ebf9;
    border-radius: 30px;
    display: inline-block;
    text-transform: none;
    transition: all 0.5s;
}

.menu-right .tags li a:hover {
    color: #fff;
    background-color: #ff8d68;
}

.menu-right .instagram li {
    display: inline-block;
    padding-bottom: 4px;
    float: left;
}

.menu-right .instagram li a {
    padding-left: 4px;
}

.tab-links {
    display: block;
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 35px;
    list-style: none;
}

.tab-links li {
    display: inline-block;
}

.tab-links li a {
    font-size: 20px;
    line-height: 45px;
    color: #537097;
    width: 46px;
    border-radius: 50%;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;
}

.tab-links li a:hover {
    background: #ff8d68;
    color: #fff;
    box-shadow: 0px 10px 20px 0px rgb(79 79 79 / 35%);
}

.tab-links li .active {
    background: #ff8d68;
    color: #fff;
    box-shadow: 0px 10px 20px 0px rgb(79 79 79 / 35%);
}

.footer {
    display: block;
    overflow: hidden;
    background: url(./images/footer-img.png) no-repeat right bottom;
    background-size: contain;
    padding: 155px 0 110px;
}

.email {
    padding: 90px 35px 100px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 3px 34px 0px rgb(230 230 230 / 75%);
}

.email h2 {
    font: 500 38px/45px "Muli", sans-serif;
    color: #101010;
    text-align: center;
    display: block;
    overflow: hidden;
    padding-bottom: 80px;
    margin: 0;
}

.email .input-email .form-email {
    width: 100%;
    border-radius: 30px;
    box-shadow: none;
    outline: none;
    padding: 0 35px;
    font: 400 16px/58px "Muli", sans-serif;
    color: rgba(0, 0, 0, 0.702);
    height: auto;
    border: 1px solid #e8e7e7;
    margin-bottom: 20px;
}

.email .input-email .form-email:focus {
    border: 1px solid #2e91fc;
}

.email .input-email .btn-email {
    min-width: 100%;
}

.footer-bottom {
    padding-top: 145px;
}

.footer-img2 {
    display: none;
}

.footer-bottom .footer-logo p {
    font: 400 18px/36px "Muli", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    padding: 40px 0;
    margin: 0;
}

.footer-bottom .footer-logo p a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.footer-bottom .footer-logo p a:hover {
    transition: all 300ms linear 0s;
    color: #ff8d68;
}

.footer-icon {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-icon li {
    display: inline-block;
    padding-right: 17px;
    padding-bottom: 10px;
}

.footer-icon li a {
    width: 50px;
    line-height: 51px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    background: #c4e6ff;
}

.footer-icon li a:hover {
    transition: all 300ms linear 0s;
    background: #ff8d68;
}

.footer-bottom .footer-headline {
    padding: 0;
    padding-left: 30px;
}

.footer-headline ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-headline h4 {
    font: 500 16px/1 "Muli", sans-serif;
    color: #101010;
    padding-bottom: 35px;
    margin: 0;
    text-transform: uppercase;
}

.footer-headline .infomation li a {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.footer-headline .infomation li a:hover {
    transition: all 300ms linear 0s;
    color: #ff8d68;
}

.ft-1.active-fadeIn {
    visibility: visible;
    animation: fadeIn 1s ease;
}

.ft-2.active-fadeIn {
    visibility: visible;
    animation: fadeIn 2s ease;
}

.ft-3.active-fadeIn {
    visibility: visible;
    animation: fadeIn 4s ease;
}

.ft-4.active-fadeIn {
    visibility: visible;
    animation: fadeIn 6s ease;
}

.ft-5.active-fadeIn {
    visibility: visible;
    animation: fadeIn 8s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.scroll-top {
    position: fixed;
    right: 30px;
    bottom: 15px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background: #2e91fc;
    border: 0;
    box-shadow: none;
    z-index: 999;
    color: #fff;
    display: none;
}